@import "basics.css";

h3{
    font-size:3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 80px;
    margin-left:80px;
    margin-top:80px;
}
h3:hover{
    letter-spacing: 3px;
}
/* .container{
    display:grid;
    row-gap:50px;
    grid-template-columns: repeat(3, 1fr);
    width:80%;
    margin: 0 200px;
    justify-items: center;
}
.uno,.dos,.tres,.cuatro,.cinco,.seis,.siete,.ocho,.nueve,.diez,.once,.doce{
    background-color: var(--gold);
    border-radius:50%;
    width: 8.5em;
    height: 3.5em;
    text-align: center;
    font-size:1.6rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0 black;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.5);
    letter-spacing: 2px;
    font-weight: 300;
}
.dos,.cinco,.ocho{
    background-color: green;
}
.once{
    visibility: hidden;
}
.container > div > a {
    text-decoration: none;
    color: black;
}
.container > div:hover{
    transform: scale(1.40);
    filter: drop-shadow(2px 1px 10px var(--gold));
    letter-spacing: 4px;
} */
footer{
    margin-top:150px;
}
.iconos__container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap:70px;
    width: 80%;
    height: 80%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: visible;
}
.icono__figure{
    width:100%;
    height: 100%;
}
.icono__img{
    width:100%;
    height: 100%;
    display:block;
    object-fit:contain;
}
.icono__link{
    width:100%;
    height: 100%;
}
img:hover{
    animation: 1s mover infinite alternate;
}